<div class="jumbotron text-center image">
  <h1 class="down">CRYPTOCURRENCY TRACKER</h1>
  <div class="lead">Sign up or Login</div>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>


<div class="middle">
  <div class="manage">
    Manage your
    <div class="transition">
      currencies.
    </div>
    <div class="transition2">
      investments.
    </div>
    <div class="transition3">
      portfolio.
    </div>
  </div>
</div>

<div class="sectionDown">
  <hr />
  <p class="section2">Our Features:</p>
</div>


<div id="boxes">
  <div class="container">
    <div class="box">
      <img src="/assets/updates.jpg">
      <h3>
        <strong>Real-time Updates</strong>
      </h3>
      <p>The cryptocurrency market can be difficult to keep up with. Our real-time updates ensure that you never miss a change
        in market price.</p>
    </div>
    <div class="box">
      <img src="/assets/portfolio.jpg">
      <h3>
        <strong>Personalized Tracking</strong>
      </h3>
      <p>Our systems keep track of your portfolio, allowing you to sign in from any browser on any device, any time.</p>
    </div>
    <div class="box">
      <img src="/assets/chart.jpg">
      <h3>Historical Data</h3>
      <p>We provide the past 30 days closing market prices for the three largest cryptocurrencies, in a format that is easy
        to understand at a glance.</p>
    </div>
  </div>
</div>

<div class="wrap">
  <a class="started" [routerLink]="['/register']">Get Started →</a>
</div>

<!--
<div id="boxes">
  <div class="container">
    <p class="tracking">..with tracking for the three largest cryptocurrencies</p>
    <div class="box">
      <img src="/assets/LTC.png">
      <h3><strong>Litecoin</strong></h3>
      <p>While inspired by Bitcoin, Litecoin has some minor technical differences such as its almost zero transaction cost.</p>
    </div>
    <div class="box">
      <img src="/assets/ETH.png">
      <h3><strong>Ether</strong></h3>
      <p>A currency which can be transferred between Ethereum accounts and used to compensate participant nodes for computations performed.</p>
    </div>
    <div class="box">
      <img src="/assets/BTC.png">
      <h3><strong>Bitcoin</strong></h3>
      <p>The first decentralized digital currency. Bitcoins can be exchanged for other currencies, products, and services.</p>
    </div>
  </div>
</div>
-->

<!--
<div id="boxes2">
  <div class="container">
      <p class="tracking">..with real-time updates</p>
    <div class="box">
        <img src="/assets/BTC.png">
        <h3><strong>API updates</strong></h3>
        <p>Updates that come every 10 seconds.</p>
    </div>
    <div class="box">
      <img src="/assets/BTC.png">
      <h3><strong>API updates</strong></h3>
      <p>Updates that come every 10 seconds.</p>
  </div>
  </div>
</div>
-->